body{
    border:solid 100px rgb(255, 203, 219);
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px rgb(255, 232, 100);
	text-align: center;
    background-color: rgb(206, 179, 236);
    font-size: 40px; font-family: Sunrise International Demo; color: rgb(0, 0, 0);
	margin-bottom: 10px;
}

p{ 

}

h3{ 

}

li{
}

#Account{
	width: 530px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px rgb(154, 253, 228);
	text-align: center;
	float: center;
    background-color: rgb(255, 217, 0);
    font-size: 40px; font-family: "Winter Brush Demo"; color: rgb(207, 99, 117);
}

#PersonalInformation{ 
    width: 530x;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px rgb(154, 253, 228);
	text-align: center;
	float: center;
    background-color: rgb(255, 217, 0);
    font-size: 40px; font-family: "Winter Brush Demo"; color: rgb(207, 99, 117);
}

#Availability{
    width: 530px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border: solid 8px rgb(154, 253, 228);
	text-align: center;
	float: center;
    background-color: rgb(255, 217, 0);
    font-size: 40px; font-family: "Winter Brush Demo"; color: rgb(207, 99, 117);
}

#PersonalStatement{
    width: 530x;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px rgb(154, 253, 228);
	text-align: center;
	float: center;
    background-color: rgb(255, 217, 0);
    font-size: 40px; font-family: "Winter Brush Demo"; color: rgb(207, 99, 117);
}
